// Place all the styles related to the api/cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cards {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

.questions {
    display: flex;
    height: 100px;
    width: 300px;
    border: 1px solid black ;
    // text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 20px;
    color: #4B4B4B;
    box-shadow: 7px 10px 7px lightskyblue;
};

.answers {
    display: flex;
    height: 100px;
    width: 300px;
    border: 1px solid black ;
    // text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    margin-bottom: 20px;
    color: #4B4B4B;
    box-shadow: 7px 10px 7px lightskyblue;
};