// Place all the styles related to the api/cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cards {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

.questions {
    display: flex;
    height: 200px;
    width: 400px;
    border: 1px solid #4CA5DB ;
    border-radius: 5%;
    align-items: center;
    justify-content: center;
    margin-right: 48px;
    margin-bottom: 25px;
    margin-top: 8px;
    color: #4B4B4B;
    box-shadow: 4px 5px 7px #4CA5DB;
    text-align: center;
    
};

.answers {
    display: flex;
    height: 200px;
    width: 400px;
    border: 1px solid #4CA5DB ;
    border-radius: 5%;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    margin-bottom: 25px;
    margin-top: 8px;
    color: #4B4B4B;
    box-shadow: 4px 5px 7px #4CA5DB;
    text-align: center;
};

.card-controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
}

.card-delete{
    height: 31px;
    width: 100px;
    // border: 1px solid black;
    border-radius: 7px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    color: #FFFFFF;
    background-color: #4CA5DB;
    cursor: pointer;
}

.card-delete:hover{
    background-color:  #53AFDF;;
}

.edit-close{
    height: 31px;
    width: 100px;
    // border: 1px solid black;
    border-radius: 7px;
    padding: 0px;
    margin: 0px;
    // margin-right: 20px;
    // position: relative;
    // top: 107px;
    background-color: #FFFFFF;
    color: #4CA5DB;
    cursor: pointer;
   
}

.edit-close:hover{
    background-color: #E8F5FB;
    border: #E8F5FB
}

.card-button{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 90%;
    border-radius: 5px;
    font-size: 80%;
    cursor: pointer;
    margin: 10px;
    text-align: center;
    padding: 2%;
    cursor: pointer;
    border: 1px solid #CEDEED;
    color: #CCDDED;
    background-color: inherit
}

.card-button:hover{
    background-color: grey;
}

#study{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    font-size: 14pt;
    color: #F2FAFD;
    cursor: pointer;
    padding-bottom: 7px;
    animation-name: fadeIn;
    animation-duration: 3s;
}

#study:hover{
    color:grey;
}