// Place all the styles related to the api/decks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.deck_index{
    display: flex;
    background-color: #1F5173;
    flex-direction: column;
    align-items: center;
    text-align: baseline;
    height: 100%;
    width: 100%;
    overflow: scroll;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.browse > h2 {
    width: 100vw;
    height: 10px;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.decks_list{
    height: 3000px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 3000px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
};

.deck_item{
    border: 1px solid #CEDEED;
    border-radius: 2%;
    display: flex;
    height: 196px;
    width: 325px;
    padding: 0px;
    margin: 20px;
    margin-bottom: inherit;
    justify-content: center;
    align-items: center;
    background-color: #FEFEFE;
    box-shadow: 2px 4px 4px #888888;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
};

.deck_item > span a {
    color: #6DC0E7;   
};



.card-name:hover {
    cursor: pointer;
    text-decoration: underline #6DC0E7
}
.fa.fa-sticky-note-o {
    padding-right: 5px;
    
}

.deck_show{
    background-color: #F2F2F2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.deck_title {
    display: flex;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100px;
    text-align: justify;
    font-size: 36pt;
    color: #317096;
    padding-top: 15px;
    padding-left: 32px;
    
    
};

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-x {
    position: absolute;
    top: -17px;
    right: -16px;
    cursor: pointer;
    border: 2.5px solid #4CA5DB;
    border-radius: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    color: #4CA5DB;
    background: #000000;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 6px;
    padding-top: 5px;
};


.deck-x {
    position: absolute;
    top: -26px;
    right: -16px;
    cursor: pointer;
    border: 2.5px solid #4CA5DB;
    border-radius: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    color: #4CA5DB;
    background: #000000;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 6px;
    padding-top: 5px;
};
.deck_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF; 
    height: 304px;
    width: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.deck_create{
    align-self: center;
    color: #F18C4B;
    margin-left: 53px;
    font-size: 20px;
    padding-top: 14px;
    margin-bottom: -2px;
    margin-top:-23px;
    text-align: center; 
}
.deck-browse{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    width: 100%;
    height: 150px;
    background-color: #364654;
    color: #FF8A47;
    font-size: 16pt;
    display: flex;
    justify-content: center;
    align-items: center;
}
    

.deck_form > input {
    margin-top: 11px;
    height: 75px;
    width: 400px;
    font-size: 12pt;
    text-align: center;
};

.deck_form > button{
    margin: 1px;
    top: 250px;
    right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #4CA5DB;
    height: 39px;
    width: 83px;
    border-radius: 5px;
    padding: 0px;
    margin-top: 19px;
    padding-top: -2px;
    margin-left: 0px;
    font-size: 10pt;
    color: #F2FAFD;
    cursor: pointer;
}

.deck-create{
    height: 30px;
    width: 100px;
    border: 1px solid black;
    cursor: pointer;
}

.creator{
    display: flex;
    flex: flex-end;
}

.delete-deck{
    position: relative;
    bottom: 19px;
    right: -19px;
    color: #75C4E9;
    cursor: pointer;
    border-radius: 2%;
    font-size: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100px;
    padding-left: 5px;
}

.delete-deck:hover{
    cursor: pointer;
    text-decoration: underline #6DC0E7
}


.decks{
    margin: 0px;
}

.deck_form > h2 {
    color: #FF8A47;
    padding-top: 5px;
    position: relative;
    bottom: 7px;
    font-size: 14pt;
}

.show{
    // height: 2000px;
    min-height: 100vh;
}