// Place all the styles related to the api/decks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.deck_index{
    display: flex;
    background-color: #F2F2F2;
    height: 100%;
    width: 100%;
    overflow: scroll;
    flex-flow: wrap;
}
.browse {
    display: flex;
    flex-flow: wrap;
}
.browse > h2 {
    background-color: green;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.decks_list{
    background-color: yellow;
    height: 20000px;
};

.deck_item{
    border: 1px solid black;
    margin: 10px;
    width: 300px;
}

.fa.fa-sticky-note-o {
    padding-right: 0px;
}

.deck_show{
    background-color: #F2F2F2;
    height: inherit;
}