body{
    background-color: #E9E9E9;
    //background-image: image_url("study.jpg");
    // background-size: cover;
    // background-repeat: no-repeat;
    // overflow: hidden;  
}


.home {
    // display: flex;
    width: 100vw;
    height:100vh;
    background: image_url("desk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.navbar{
    display: flex;
    // flex-direction: row;
    justify-content: space-between;
    // align-content: center;
    background-color: #250808;
    height: 100px;
    color: #E4E3E0;
    opacity: 0.95;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  
}
.navbar > h2 {
    align-self: center;
    margin: 10px;
}

.cheese {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: yellow;
    
}
.greetings {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    
    
}
.nav {
    color: silver;
    padding-right: 10px;
    
 }

.footer {
    display: flex;
    // flex-direction: row;
    justify-content: space-between;
    // align-content: center;
    background-color: #250808;
    height: 100px;
    color: #E4E3E0;
    opacity: 0.95;
};

i {
    padding-right: 20px;
}


