
.homepage {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    background: image_url("notetaker.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
   
};

.notes {
  //border: 1px solid black;
  height: 100px;
  width: 100%;
  background-color: #449BB8;
  opacity: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  animation-name: fadeIn;
  animation-duration: 3s;
  // color: red 
}

// .fadeInDown {
//   -webkit-animation-name: fadeInDown;
//   animation-name: fadeInDown;
// }

.notes > span{
    font-size: 30px;
    color: #DCDAD6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    // padding: 35px;
    
}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-delay: 3000ms;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
  // animation-name: zoomIn;
  //   animation-delay: 2s;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-page{
  color: #CBDAE9;
  margin-left: -14px;
  font-size: 16pt;
  padding-right: 33px;
  padding-left: 6px;
  // position: relative;
  // left: -14px;
  cursor: pointer;
}

.user-page:hover{
  color: #4CA5DB 
}

.user-page > h2 > p{
  font-size: 10pt;
  margin-top: 2px;
}

.user-page > h2 {
  text-align: center;
  padding-left: 5px
}

#logoutbutton{
  margin: 10px;
    top: 250px;
    right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #4CA5DB;
    height: 39px;
    width: 83px;
    border-radius: 5px;
    padding: 0px;
    margin-left: 10px;
    margin: 16px;
    font-size: 10pt;
    color: #F2FAFD;
    cursor: pointer;
    border-color: #56595F;
}

#logoutbutton:hover {
  background-color: #53AFDF;
 
}

#view-deck{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #CCDDED;
  padding: 10px;
  border: 1px solid #CEDEED;
  border-radius: 5%;
  margin:10px
  // position: relative;
  // left: -100px
}

#view-deck:hover{
  background-color: grey;
}

#see-deck{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #CCDDED;
  padding: 10px;
  border: 1px solid #CEDEED;
  border-radius: 5%;
  text-align: center;
  width: 200px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: 39px;
}

#see-deck:hover{
  background-color: grey;
}

.create-deck{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #CCDDED;
  padding: 10px;
  border: 1px solid #CEDEED;
  border-radius: 5%;
  // position: relative;
  // left: -50px;
  cursor: pointer;
  margin: 10px;
  margin-left: 5px;
}

.create-deck:hover{
  background-color: grey;
}
