.tracking{
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.scorebar{
    display: flex;
    align-items: center;
    height: 100px;
    width: 800px;
    justify-content: space-around;
    position: relative;
    right: 20px;
    bottom: 51px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #4CA5DB;
    border-radius: 5px;
    color: #F2FAFD;
    font-size: 16pt;
    cursor: pointer;
}

.tracking-message{
    position: relative;
    bottom: 78px;
    color: #4B4B4B
}

.score{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 100%;
    color: #F2FAFD;
    font-size: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.score:first-child{
    background-color: #AA0080
}

.score:nth-child(2){
    background-color: #F08A47
}

.score:nth-child(3){
    background-color: #F6DD03
}

.score:nth-child(4){
    background-color: #7FAE2E
}
.score:nth-child(5){
    background-color: #4DA8D8
}
