.searchbar{
    position: relative;
    right: 149px;
}

.searchbar > input {
    height: 25px;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #CEDEED;
    font-size: 12pt;
    text-align: center;
}