.study{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

.study-card{
    display: flex;
    height: 500px;
    width: 800px;
    border: 1px solid #4CA5DB ;
    border-radius: 5%;
    align-items: center;
    justify-content: center;
    margin-right: 48px;
    margin-bottom: 25px;
    margin-top: 8px;
    color: #4B4B4B;
    box-shadow: 4px 5px 7px #4CA5DB;
    text-align: center;
    font-size: 20pt; 
    // -webkit-backface-visibility: hidden;
    // backface-visibility: hidden;
   transition: transform 1s;
   transform-style: preserve-3d;
//    transform: scale(1, 1)
};

.back{
   transition: transform 1s;
   transform-style: preserve-3d;
}




