// Place all the styles related to the API/tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tags{
    font-size: 14pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 100px;   
}

.tags > input{
    width: 200px;
    height: 25px;
    margin-bottom: 10px;
}

.add-tag{
    margin: 10px;
}