// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-show{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: #235173;
    min-height: 100%;

}

.saved{
    height: 100px;
    width: 100%;
    text-align: center;
    color: #F18C4B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
};

.save-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.user-decks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}